[Unit]
Description=Mirrors reddit comments into a git repo
After=network-online.target

[Service]

#Default Environment=GITREDDITOR_CNT=20
#Default Environment=GITREDDITOR_TH=5
#Default Environment=GITREDDITOR_THP=5
Environment=GITREDDITOR_U=root
Environment=ROOT_DIR=/srv/reddit

RestartSec=7200
Restart=always

ExecStartPre=/bin/bash -c "cd ${ROOT_DIR}/${GITREDDITOR_U} && /usr/bin/git pull"

ExecStart=/usr/bin/rkt --insecure-options=image run --inherit-env --dns 8.8.8.8 --volume volume-repo,kind=host,source=${ROOT_DIR}/${GITREDDITOR_U} \
                        docker://repo.shimun.net/shimun/gitredditor
                        
ExecStopPost=/bin/bash -c "cd ${ROOT_DIR}/${GITREDDITOR_U} && /usr/bin/git push"



[Install]
WantedBy=multi-user.target
